
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map_canvas {
  height: 100%;
}

@media print {
  html, body {
    height: auto;
  }

  #map_canvas {
    height: 650px;
  }
}

#control {
  background:white;
  padding:10px;
  border:1px solid gray;
  position:fixed;
  top:73%;
  left:10px;
  z-index:100;
}
#control ul {
  margin:0; padding:0;
 }
#control ul li{
  margin:0; padding:0;
  list-style-type: none;
}